In [22]:
import pandas as pd
import numpy as np
import copy

In [4]:
filename = './archive/US_Accidents_Dec20.csv'
data = pd.read_csv(filename,usecols = ['ID','Start_Time','Weather_Condition'])

In [25]:
data

                ID           Start_Time Weather_Condition
0              A-1  2016-02-08 05:46:00        Light Rain
1              A-2  2016-02-08 06:07:59        Light Rain
2              A-3  2016-02-08 06:49:27          Overcast
3              A-4  2016-02-08 07:23:34     Mostly Cloudy
4              A-5  2016-02-08 07:39:07     Mostly Cloudy
...            ...                  ...               ...
4232536  A-4239402  2019-08-23 18:03:25              Fair
4232537  A-4239403  2019-08-23 19:11:30              Fair
4232538  A-4239404  2019-08-23 19:00:21     Partly Cloudy
4232539  A-4239405  2019-08-23 19:00:21              Fair
4232540  A-4239406  2019-08-23 18:52:06              Fair

[4232541 rows x 3 columns]

In [92]:
def fill_chart(time_of_day,tod_name,df,prob = False):
    weather_types = list(df.columns)
    for weather in weather_types:
        if prob:
            df.loc[tod_name][weather] = time_of_day[time_of_day.Weather_Condition == weather].shape[0]/\
                                            time_of_day.shape[0]
        else:    
            df.loc[tod_name][weather] = time_of_day[time_of_day.Weather_Condition == weather].shape[0]
    return df

In [93]:
res = 1
timestamps = []
for i in range(0,len(data),res):
    #print(data['Start_Time'][i])
    timestamps.append(data['Start_Time'][i].split()[1])
#timestamps

In [ ]:
col_names = ['ID','Timestamp','Weather_Condition']
day = pd.DataFrame(columns = ['ID','Timestamp','Weather_Condition'])
noon = pd.DataFrame(columns = ['ID','Timestamp','Weather_Condition'])
night = pd.DataFrame(columns = ['ID','Timestamp','Weather_Condition'])

row_num = np.arange(0,len(timestamps),res)
for row,time in zip(row_num,timestamps):
    hour = int(time.split(':')[0])
    append_data = pd.Series([data.iloc[row]['ID'],time,data.iloc[row]['Weather_Condition']],\
                            index =  ['ID','Timestamp','Weather_Condition'])
    if hour >= 6 and hour <= 11:
        day = day.append(append_data,ignore_index=True)
    elif hour >= 12 and hour <= 17:
        noon = noon.append(append_data,ignore_index=True)
    else:
        night = night.append(append_data,ignore_index=True)

In [ ]:
columns = list(set(data.Weather_Condition))[1:]
index = ['Day','Noon','Night']
df = pd.DataFrame(columns = columns, index = index)
df = fill_chart(day,'Day',df,prob = True)
df = fill_chart(noon,'Noon',df,prob = True)
df = fill_chart(night,'Night',df,prob = True)
df

In [89]:
day.shape

(716, 3)

In [77]:
df.shape

(3, 131)

In [ ]:
day[day.Weather_Condition == 'Clear'].shape[0]

In [ ]:
sort weather by time, where day is 6am to 12pm, noon is 12pm to 6pm, night is 6pm to 6am
count number of accidents that occur within these time frames given the weather condition
for now, visualize by charting data